@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Comforter&family=Nanum+Gothic:wght@700&family=Nanum+Pen+Script&display=swap');

.content {
  border: 1px solid black;
  width: 80vw;
  margin: 20px auto;
  padding: 10px;
}

.board-title {
  height: 30px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.board-title > div {
  line-height: 30px;
}

.board-title::after {
  content: '';
  position: absolute;
  width: 100%;
  top: 40px;
  left: 0;
  border-bottom: 1px solid #cccccc;
}

.board-content {
  height: 350px;
}
.board-content-center {
  font-family: 'Dongle', sans-serif;
}

.board-bottom {
  display: flex;
  justify-content: center;
}

.paging {
  display: flex;
}

.paging-no {
  padding: 5px;
  cursor: pointer;
  margin-left: 15px;
}

.paging-no:hover {
  color: #51bdef;
}

.board-content-top {
  display: flex;
  border: 1px solid black;
  text-align: center;
  background-color: #dfdddc;
  padding: 5px 0;
  font-size: 13px;
  font-weight: bold;
  font-family: 'Dongle', sans-serif;
}

.row {
  display: flex;
  text-align: center;
  padding: 5px 0;
  font-size: 11px;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.row > div {
  overflow: hidden;
  margin: auto;
}

.row:hover {
  background-color: #cccccc;
}

.search-text {
  display: none;
  width: 0px;
  height: 28.18px;
  margin-right: 10px;
  border: 1px solid black;
}
.search-icon,
.x-icon {
  margin-right: 10px;
  cursor: pointer;
}

.x-icon {
  display: none;
}

.write-div {
  display: flex;
  line-height: 30px;
}
.write-div div {
  margin: 5px;
  min-width: 100px;
}
.write-div div:nth-child(1) {
  width: 20%;
  min-width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gainsboro;
}

.content-div-label {
  height: 120px;
  display: flex;
  align-items: center;
}
.inline-div {
  display: inline-block;
}
.board-write-title-input {
  width: 85%;
}
.wirte-div-bottom {
  display: flex;
  justify-content: end;
}
.wirte-div-bottom div {
  margin: 0 5px 0;
}

@keyframes textShow {
  from {
    opacity: 0;
    width: 0px;
  }
  to {
    opacity: 1;
    width: 200px;
  }
}
@keyframes textHive {
  from {
    opacity: 1;
    width: 200px;
  }
  to {
    opacity: 0;
    width: 0px;
  }
}
